body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(97, 145, 145);
    margin: 20px;
}

.todo-container {
    max-width: 400px;
    margin: 0 auto;
}

ul {
    list-style-type: list;
    padding: 0;
    padding: 10px;
}

.done {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

li {
    padding: 10px;
    border: 2px solid #000000;
    margin-bottom: 5px;
    display: flex;
    justify-content: space;
    align-items: center;
    position: relative;
}

.remove-btn {
    position: absolute;
    right: -80px; /* Move the button outside the box */
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: darkred;
}

#todo-input {
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-btn{
    width: 100px;
    height: 30px;
    font-size: 16px;
}